.formulario {
  max-width: 40rem;
  padding: 1.875rem;
  background-color: rgb(71, 71, 71);
  margin: 1.875rem auto;
  border-radius: .625rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
}
.labelTitulo {
  font-size: 1.5625rem;
  color: white;
}
.botonesForm {
  display: grid;
  grid-template-columns: auto auto;
}
.botonCrearTarea {
  width: 5rem;
}
.botonEliminarTodas {
  justify-self: end;
  width: 8.125rem;
}
.listaTareas {
  max-width: 40rem;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, 12.5rem);
  grid-template-rows: auto 1fr auto;
  gap: 1.25rem;
}
.contenedorTarea {
  background-color: rgb(71, 71, 71);
  padding: 1.25rem;
  color: white;
  border-radius: .625rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.5);

  display: grid;
  grid-row: span 3;
  grid-template-rows: subgrid;
}
.tituloTarea {
  justify-self: center;
}
.botonEliminarTarea {
  justify-self: center;
}
@media screen and (max-width: 26.25rem) {
  .listaTareas {
    justify-content: center;
  }
}
