.buscar {
  text-align: center;
  background-color: rgb(255, 200, 80);
  height: 1000px;
  /* padding-bottom: 100px; */
}
.titulo {
  padding: 20px;
  margin: 0;
}
.buscador {
  margin: 20px;
}
.entrada {
  max-width: 600px;
}
.contenedor-buscar {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
}
