.clima {
  text-align: center;
  /* align-self: center; */
}
.h1 {
  margin: 20px;
}
.buscador {
  margin: 20px;
  /* top: 15%; */
  /* left: 30%; */
}
.entrada {
  max-width: 600px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

