.buscar {
  text-align: center;
  background-color: #2f7cbb;
  height: 1000px;
}
.titulo {
  padding: 20px;
  margin: 0;
}
.buscador {
  margin: 20px;
}
.entrada {
  max-width: 600px;
}
.contenedor-buscar {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
}
