.tarjeta {
 border: .0625rem solid #ccc;
 border-radius: 20px;
 margin-bottom: 10px;
 padding: .625rem;
 background-color: white;
 margin: .625rem;
 max-width: 37.5rem;
 box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .4);
 
 display: grid;
 grid-column: span 2;
 grid-template-columns: subgrid;

 grid-row: span 4;
 grid-template-rows: subgrid;
}
.tarjeta-imagen {
  max-width: 6.25rem;
  height: auto;
  margin-right: .625rem;
  object-fit: cover;
  border-radius: .25rem;
  grid-row: span 2;
}
.tarjeta-contenido {
  grid-row: span 4;
  display: grid;
  grid-template-rows: subgrid;
}
.tarjeta-titulo {
  margin: 0;
}
.tarjeta-descripcion {
  margin: .625rem 0;
}
.tarjeta-precio {
  margin: 0;
  font-weight: bold;
}
.boton-agregar {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: .25rem;
  padding: .3125rem .625rem;
  cursor: pointer;
  justify-self: end;
}
.boton-agregar:hover {
  background-color: #45a049;
}
.boton-quitar {
  background-color: #af4c4c;
  color: white;
  border: none;
  border-radius: .25rem;
  padding: .3125rem .625rem;
  cursor: pointer ;

}
.boton-quitar:hover {
  background-color: #a04545;
}